* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: azure;
  padding: 30px;
}

/* TABLE */
.patients-table {
  width: 70vw;
  max-width: 90vw;
  margin: 30px auto;
  /* padding: 30px; */
  border: 10px solid #444;
  margin-top: 10px;
}

.patients-table thead th {
  padding: 30px 20px;
  background-color: rgb(21, 143, 21);
  color: #e3e3e3;
  font-size: 1.2rem;
}

.patients-table tbody {
  background-color: rgb(143, 175, 143);
  color:#222;
}

.patients-table tbody td {
  padding: 10px;
  text-align: center;
}

.list-heading {
  font-size: 2.2rem;
  text-align: center;
  padding: 0.2em 1em;
}

.underline {
  display: block;
  border-bottom: 4px solid #555;
  width: 20%;
  max-width: 300px;
  margin: 0 auto;
  margin-bottom: 2em;
}

/* FORM */
.form {
  padding: 20px;
  padding-left: 0;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 80%;
  background-color: #ddd;
  margin: 10px auto;
}

.form-field {
  padding: 10px 30px;
  margin: 0 auto;
  width: 100%;
}

input {
  padding: 8px;
  border: none;
  outline: none;
  background-color: #eee;
}

input:focus,
input:hover {
  background-color: #fff;
}

.submit-btn {
  margin-top: 20px;
  padding: 0.7em 2em;
  border: 0;
  border-radius: 5px;
  font-size: 0.95rem;
  background-color: rgb(103, 187, 103);
  color: #fff;
  cursor: pointer;
  transition: all ease-in 0.12s;
  width: 50%;
  max-width: 180px;
  align-self: center;
}

.submit-btn:focus,
.submit-btn:hover {
  background-color: rgb(21, 143, 21);
  color: #fff;
}

.name-form-block,
.date-form-block {
  display: flex;
  flex-direction: column;
}

.name-error,
.date-error {
  font-size: 0.8rem;
  color: red;
}

.req-time-container {
  background-color: rgb(88, 87, 87);
  padding: 1.5em;
  color: #e6e6e6;
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: 1px;
}
